$primary-color: #2c3e50;
$secondary-color: #8e44ad;

body {
    font-family: Arial, sans-serif;
    background-color: $secondary-color;
    color: white;

    // Styles pour le header
        header {
            background-color: $color-primary; // Couleur de fond du header
            padding: $spacing-base; // Espacement interne
    
            h1 {
                color: #fff; // Texte en blanc
                font-size: $font-size-large; // Taille de police grande
        }
    
        // Styles pour le footer
        footer {
            background-color: $color-secondary; // Couleur de fond du footer
            padding: $spacing-base; // Espacement interne
    
            p {
                color: #fff; // Texte en blanc
                font-size: $font-size-small; // Taille de police petite
            }
        }
    }
}

@mixin button-style($bg-color) {
    background-color: $bg-color;
    border: none;
    padding: 10px 20px;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;

    &:hover {
        background-color: lighten($bg-color, 10%);
    }
}

.btn-primary {
    @include button-style($primary-color);
}

.btn-secondary {
    @include button-style($secondary-color);
}

// style.scss

// Importation des variables
@import 'variables';

// Autres styles...